.holepage{
    
   
    background :lightgray;
    border: 2px;
    border-style: solid;
    width: calc(100vh-2px);
    height: calc(98vh);
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 overflow: auto;
}
#name{
      width: 20vw;
      height: 30px;
      margin-right: 30px;
      
}
sup{
    color: red;
}
#email{
    width: 40vw;
    height:30px ;
}
table{
    width: calc(90vw) ;
    height: 15vh;
}
th{
    text-align: center;
    background-color:lightgrey;
    font-size: large;
    padding: 10px;
    box-sizing: border-box;
}
td{
    text-align:center;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;

}
tr:nth-child(odd){
    background-color:white;
}
textarea{
    width: 80vw;
}

#submit{
    font-size: larger;
    background-color: red;
    padding: 15px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.str{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    margin: 30px 0 0 0;
}
.str input{
    display: none;
}
.str >label{
    height: 50px;
    width: 50px;
    color: red;
    font-family: poppins-Black;
    font-size: 50px;
}
.str label::before{
    content: '\2606';
    position: absolute;
    line-height: 6px;

}
.str input:checked~ label:before{
    content: '\2605';

}